<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
    <title>Общие вопросы промышленной безопасности</title>
{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

{% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">

    <script src="{% static 'js/myscript.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


</head>

{% block content %}

{% endblock %}

</html>