{% extends 'base_generic.html' %}

{% block content %}
<body onload="question_window_exam(), mobile_check(), back_intercept('myModalExamExit')">
<header class="hf_inside"></header>

<div class="container text-center text-uppercase mt-3">
    <h5>Экзамен</h5>
</div>

<form method="POST" id="my_form_exam">
    {% csrf_token %}
    <!--Скрытая строка с номерами вопросов-->
    <input name="questions_num_string" type="hidden" value="{{questions_num_string}}">

    <div class="container mb-3">
        <div class="row my_checkbox">
            <!--Таймер-->
            <div class="col-6">
                <span class="ml_span timer_paint"><span id="min" class="ml-3"></span> : <span id="sec"></span></span>
            </div>
            <!--Завершение теста-->
            <div class="col-6 btns_location">
                <input class="btn btn_paint_3 mr_span" type="submit" value="Завершить" onclick="full_pass_checking_exam()">
            </div>
        </div>
    </div>

<!--Первый вопрос-->

    <div id="1" class="container">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 1</h5>
            <h5>{{q_1}}</h5>
        </div>

        <div class="container stab_container">

            <div class="my_checkbox">
                      <input id="answer1_1"  type="checkbox" value="1" class="chb_input" name="field1_1"><div class="chb_new"></div>
                      <label for="answer1_1" class="lbl_pos">{{v1_1}}</label>
            </div>
            <div class="my_checkbox">
                      <input id="answer2_1"  type="checkbox" value="2" class="chb_input" name="field2_1"><div class="chb_new"></div>
                      <label for="answer2_1" class="lbl_pos">{{v2_1}}</label>
            </div>
            <div class="my_checkbox">
                      <input id="answer3_1"  type="checkbox" value="3" class="chb_input" name="field3_1"><div class="chb_new"></div>
                      <label for="answer3_1" class="lbl_pos">{{v3_1}}</label>
            </div>

            <div>
                {% if hidden_4_1 %}
                {% else %}
                <div class="my_checkbox">
                      <input id="answer4_1"  type="checkbox" value="4" class="chb_input" name="field4_1"><div class="chb_new"></div>
                      <label for="answer4_1" class="lbl_pos">{{v4_1}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_1 %}
                {% else %}
                 <div class="my_checkbox">
                      <input id="answer5_1"  type="checkbox" value="5" class="chb_input" name="field5_1"><div class="chb_new"></div>
                      <label for="answer5_1" class="lbl_pos">{{v5_1}}</label>
                 </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_6_1 %}
                {% else %}
                 <div class="my_checkbox">
                      <input id="answer6_1"  type="checkbox" value="6" class="chb_input" name="field6_1"><div class="chb_new"></div>
                      <label for="answer6_1" class="lbl_pos">{{v6_1}}</label>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(1), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Второй вопрос-->

    <div id="2" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 2</h5>
            <h5>{{q_2}}</h5>
        </div>

        <div class="container stab_container">

            <div class="my_checkbox">
                <input id="answer1_2"  type="checkbox" value="1" class="chb_input" name="field1_2"><div class="chb_new"></div>
                <label for="answer1_2" class="lbl_pos">{{v1_2}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_2"  type="checkbox" value="2" class="chb_input" name="field2_2"><div class="chb_new"></div>
                <label for="answer2_2" class="lbl_pos">{{v2_2}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_2"  type="checkbox" value="3" class="chb_input" name="field3_2"><div class="chb_new"></div>
                <label for="answer3_2" class="lbl_pos">{{v3_2}}</label>
            </div>

            <div>
                {% if hidden_4_2 %}
                {% else %}
                <div class="my_checkbox">
                      <input id="answer4_2"  type="checkbox" value="4" class="chb_input" name="field4_2"><div class="chb_new"></div>
                      <label for="answer4_2" class="lbl_pos">{{v4_2}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_2 %}
                {% else %}
                <div class="my_checkbox">
                      <input id="answer5_2"  type="checkbox" value="5" class="chb_input" name="field5_2"><div class="chb_new"></div>
                      <label for="answer5_2" class="lbl_pos">{{v5_2}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_6_2 %}
                {% else %}
                <div class="my_checkbox">
                      <input id="answer6_2"  type="checkbox" value="6" class="chb_input" name="field6_2"><div class="chb_new"></div>
                      <label for="answer6_2" class="lbl_pos">{{v6_2}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(2), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Третий вопрос-->

    <div id="3" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 3</h5>
            <h5>{{q_3}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_3"  type="checkbox" value="1" class="chb_input" name="field1_3"><div class="chb_new"></div>
                <label for="answer1_3" class="lbl_pos">{{v1_3}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_3"  type="checkbox" value="2" class="chb_input" name="field2_3"><div class="chb_new"></div>
                <label for="answer2_3" class="lbl_pos">{{v2_3}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_3"  type="checkbox" value="3" class="chb_input" name="field3_3"><div class="chb_new"></div>
                <label for="answer3_3" class="lbl_pos">{{v3_3}}</label>
            </div>

            <div>
                {% if hidden_4_3 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_3"  type="checkbox" value="4" class="chb_input"  name="field4_3"><div class="chb_new"></div>
                <label for="answer4_3" class="lbl_pos">{{v4_3}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_3 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_3"  type="checkbox" value="5" class="chb_input" name="field5_3"><div class="chb_new"></div>
                <label for="answer5_3" class="lbl_pos">{{v5_3}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_3 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_3"  type="checkbox" value="6" class="chb_input" name="field6_3"><div class="chb_new"></div>
                <label for="answer6_3" class="lbl_pos">{{v6_3}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(3), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Четвертый вопрос-->

    <div id="4" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 4</h5>
            <h5>{{q_4}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_4"  type="checkbox" value="1" class="chb_input" name="field1_4"><div class="chb_new"></div>
                <label for="answer1_4" class="lbl_pos">{{v1_4}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_4"  type="checkbox" value="2" class="chb_input" name="field2_4"><div class="chb_new"></div>
                <label for="answer2_4" class="lbl_pos">{{v2_4}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_4"  type="checkbox" value="3" class="chb_input" name="field3_4"><div class="chb_new"></div>
                <label for="answer3_4" class="lbl_pos">{{v3_4}}</label>
            </div>

            <div>
                {% if hidden_4_4 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_4"  type="checkbox" value="4" class="chb_input"  name="field4_4"><div class="chb_new"></div>
                <label for="answer4_4" class="lbl_pos">{{v4_4}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_4 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_4"  type="checkbox" value="5" class="chb_input" name="field5_4"><div class="chb_new"></div>
                <label for="answer5_4" class="lbl_pos">{{v5_4}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_4 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_4"  type="checkbox" value="6" class="chb_input" name="field6_4"><div class="chb_new"></div>
                <label for="answer6_4" class="lbl_pos">{{v6_4}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(4), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Пятый вопрос-->

    <div id="5" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 5</h5>
            <h5>{{q_5}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_5"  type="checkbox" value="1" class="chb_input" name="field1_5"><div class="chb_new"></div>
                <label for="answer1_5" class="lbl_pos">{{v1_5}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_5"  type="checkbox" value="2" class="chb_input" name="field2_5"><div class="chb_new"></div>
                <label for="answer2_5" class="lbl_pos">{{v2_5}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_5"  type="checkbox" value="3" class="chb_input" name="field3_5"><div class="chb_new"></div>
                <label for="answer3_5" class="lbl_pos">{{v3_5}}</label>
            </div>

            <div>
                {% if hidden_4_5 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_5"  type="checkbox" value="4" class="chb_input"  name="field4_5"><div class="chb_new"></div>
                <label for="answer4_5" class="lbl_pos">{{v4_5}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_5 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_5"  type="checkbox" value="5" class="chb_input" name="field5_5"><div class="chb_new"></div>
                <label for="answer5_5" class="lbl_pos">{{v5_5}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_5 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_5"  type="checkbox" value="6" class="chb_input" name="field6_5"><div class="chb_new"></div>
                <label for="answer6_5" class="lbl_pos">{{v6_5}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(5), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Шестой вопрос-->

    <div id="6" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 6</h5>
            <h5>{{q_6}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_6"  type="checkbox" value="1" class="chb_input" name="field1_6"><div class="chb_new"></div>
                <label for="answer1_6" class="lbl_pos">{{v1_6}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_6"  type="checkbox" value="2" class="chb_input" name="field2_6"><div class="chb_new"></div>
                <label for="answer2_6" class="lbl_pos">{{v2_6}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_6"  type="checkbox" value="3" class="chb_input" name="field3_6"><div class="chb_new"></div>
                <label for="answer3_6" class="lbl_pos">{{v3_6}}</label>
            </div>

            <div>
                {% if hidden_4_6 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_6"  type="checkbox" value="4" class="chb_input"  name="field4_6"><div class="chb_new"></div>
                <label for="answer4_6" class="lbl_pos">{{v4_6}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_6 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_6"  type="checkbox" value="5" class="chb_input" name="field5_6"><div class="chb_new"></div>
                <label for="answer5_6" class="lbl_pos">{{v5_6}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_6 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_6"  type="checkbox" value="6" class="chb_input" name="field6_6"><div class="chb_new"></div>
                <label for="answer6_6" class="lbl_pos">{{v6_6}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(6), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Седьмой вопрос-->

    <div id="7" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 7</h5>
            <h5>{{q_7}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_7"  type="checkbox" value="1" class="chb_input" name="field1_7"><div class="chb_new"></div>
                <label for="answer1_7" class="lbl_pos">{{v1_7}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_7"  type="checkbox" value="2" class="chb_input" name="field2_7"><div class="chb_new"></div>
                <label for="answer2_7" class="lbl_pos">{{v2_7}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_7"  type="checkbox" value="3" class="chb_input" name="field3_7"><div class="chb_new"></div>
                <label for="answer3_7" class="lbl_pos">{{v3_7}}</label>
            </div>

            <div>
                {% if hidden_4_7 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_7"  type="checkbox" value="4" class="chb_input"  name="field4_7"><div class="chb_new"></div>
                <label for="answer4_7" class="lbl_pos">{{v4_7}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_7 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_7"  type="checkbox" value="5" class="chb_input" name="field5_7"><div class="chb_new"></div>
                <label for="answer5_7" class="lbl_pos">{{v5_7}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_7 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_7"  type="checkbox" value="6" class="chb_input" name="field6_7"><div class="chb_new"></div>
                <label for="answer6_7" class="lbl_pos">{{v6_7}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(7), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Восьмой вопрос-->

    <div id="8" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 8</h5>
            <h5>{{q_8}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_8"  type="checkbox" value="1" class="chb_input" name="field1_8"><div class="chb_new"></div>
                <label for="answer1_8" class="lbl_pos">{{v1_8}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_8"  type="checkbox" value="2" class="chb_input" name="field2_8"><div class="chb_new"></div>
                <label for="answer2_8" class="lbl_pos">{{v2_8}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_8"  type="checkbox" value="3" class="chb_input" name="field3_8"><div class="chb_new"></div>
                <label for="answer3_8" class="lbl_pos">{{v3_8}}</label>
            </div>

            <div>
                {% if hidden_4_8 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_8"  type="checkbox" value="4" class="chb_input"  name="field4_8"><div class="chb_new"></div>
                <label for="answer4_8" class="lbl_pos">{{v4_8}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_8 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_8"  type="checkbox" value="5" class="chb_input" name="field5_8"><div class="chb_new"></div>
                <label for="answer5_8" class="lbl_pos">{{v5_8}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_8 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_8"  type="checkbox" value="6" class="chb_input" name="field6_8"><div class="chb_new"></div>
                <label for="answer6_8" class="lbl_pos">{{v6_8}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(8), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Девятый вопрос-->

    <div id="9" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 9</h5>
            <h5>{{q_9}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_9"  type="checkbox" value="1" class="chb_input" name="field1_9"><div class="chb_new"></div>
                <label for="answer1_9" class="lbl_pos">{{v1_9}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_9"  type="checkbox" value="2" class="chb_input" name="field2_9"><div class="chb_new"></div>
                <label for="answer2_9" class="lbl_pos">{{v2_9}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_9"  type="checkbox" value="3" class="chb_input" name="field3_9"><div class="chb_new"></div>
                <label for="answer3_9" class="lbl_pos">{{v3_9}}</label>
            </div>

            <div>
                {% if hidden_4_9 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_9"  type="checkbox" value="4" class="chb_input"  name="field4_9"><div class="chb_new"></div>
                <label for="answer4_9" class="lbl_pos">{{v4_9}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_9 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_9"  type="checkbox" value="5" class="chb_input" name="field5_9"><div class="chb_new"></div>
                <label for="answer5_9" class="lbl_pos">{{v5_9}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_9 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_9"  type="checkbox" value="6" class="chb_input" name="field6_9"><div class="chb_new"></div>
                <label for="answer6_9" class="lbl_pos">{{v6_9}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(9), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Десятый вопрос-->

    <div id="10" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 10</h5>
            <h5>{{q_10}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_10"  type="checkbox" value="1" class="chb_input" name="field1_10"><div class="chb_new"></div>
                <label for="answer1_10" class="lbl_pos">{{v1_10}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_10"  type="checkbox" value="2" class="chb_input" name="field2_10"><div class="chb_new"></div>
                <label for="answer2_10" class="lbl_pos">{{v2_10}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_10"  type="checkbox" value="3" class="chb_input" name="field3_10"><div class="chb_new"></div>
                <label for="answer3_10" class="lbl_pos">{{v3_10}}</label>
            </div>

            <div>
                {% if hidden_4_10 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_10"  type="checkbox" value="4" class="chb_input"  name="field4_10"><div class="chb_new"></div>
                <label for="answer4_10" class="lbl_pos">{{v4_10}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_10 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_10"  type="checkbox" value="5" class="chb_input" name="field5_10"><div class="chb_new"></div>
                <label for="answer5_10" class="lbl_pos">{{v5_10}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_10 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_10"  type="checkbox" value="6" class="chb_input" name="field6_10"><div class="chb_new"></div>
                <label for="answer6_10" class="lbl_pos">{{v6_10}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(10), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Одинадцатый вопрос-->

    <div id="11" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 11</h5>
            <h5>{{q_11}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_11"  type="checkbox" value="1" class="chb_input" name="field1_11"><div class="chb_new"></div>
                <label for="answer1_11" class="lbl_pos">{{v1_11}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_11"  type="checkbox" value="2" class="chb_input" name="field2_11"><div class="chb_new"></div>
                <label for="answer2_11" class="lbl_pos">{{v2_11}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_11"  type="checkbox" value="3" class="chb_input" name="field3_11"><div class="chb_new"></div>
                <label for="answer3_11" class="lbl_pos">{{v3_11}}</label>
            </div>

            <div>
                {% if hidden_4_11 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_11"  type="checkbox" value="4" class="chb_input"  name="field4_11"><div class="chb_new"></div>
                <label for="answer4_11" class="lbl_pos">{{v4_11}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_11 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_11"  type="checkbox" value="5" class="chb_input" name="field5_11"><div class="chb_new"></div>
                <label for="answer5_11" class="lbl_pos">{{v5_11}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_11 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_11"  type="checkbox" value="6" class="chb_input" name="field6_11"><div class="chb_new"></div>
                <label for="answer6_11" class="lbl_pos">{{v6_11}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(11), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Двенадцатый вопрос-->

    <div id="12" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 12</h5>
            <h5>{{q_12}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_12"  type="checkbox" value="1" class="chb_input" name="field1_12"><div class="chb_new"></div>
                <label for="answer1_12" class="lbl_pos">{{v1_12}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_12"  type="checkbox" value="2" class="chb_input" name="field2_12"><div class="chb_new"></div>
                <label for="answer2_12" class="lbl_pos">{{v2_12}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_12"  type="checkbox" value="3" class="chb_input" name="field3_12"><div class="chb_new"></div>
                <label for="answer3_12" class="lbl_pos">{{v3_12}}</label>
            </div>

            <div>
                {% if hidden_4_12 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_12"  type="checkbox" value="4" class="chb_input"  name="field4_12"><div class="chb_new"></div>
                <label for="answer4_12" class="lbl_pos">{{v4_12}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_12 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_12"  type="checkbox" value="5" class="chb_input" name="field5_12"><div class="chb_new"></div>
                <label for="answer5_12" class="lbl_pos">{{v5_12}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_12 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_12"  type="checkbox" value="6" class="chb_input" name="field6_12"><div class="chb_new"></div>
                <label for="answer6_12" class="lbl_pos">{{v6_12}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(12), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Тринадцатый вопрос-->

    <div id="13" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 13</h5>
            <h5>{{q_13}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_13"  type="checkbox" value="1" class="chb_input" name="field1_13"><div class="chb_new"></div>
                <label for="answer1_13" class="lbl_pos">{{v1_13}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_13"  type="checkbox" value="2" class="chb_input" name="field2_13"><div class="chb_new"></div>
                <label for="answer2_13" class="lbl_pos">{{v2_13}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_13"  type="checkbox" value="3" class="chb_input" name="field3_13"><div class="chb_new"></div>
                <label for="answer3_13" class="lbl_pos">{{v3_13}}</label>
            </div>

            <div>
                {% if hidden_4_13 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_13"  type="checkbox" value="4" class="chb_input"  name="field4_13"><div class="chb_new"></div>
                <label for="answer4_13" class="lbl_pos">{{v4_13}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_13 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_13"  type="checkbox" value="5" class="chb_input" name="field5_13"><div class="chb_new"></div>
                <label for="answer5_13" class="lbl_pos">{{v5_13}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_13 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_13"  type="checkbox" value="6" class="chb_input" name="field6_13"><div class="chb_new"></div>
                <label for="answer6_13" class="lbl_pos">{{v6_13}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(13), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Четырнадцатый вопрос-->

    <div id="14" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 14</h5>
            <h5>{{q_14}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_14"  type="checkbox" value="1" class="chb_input" name="field1_14"><div class="chb_new"></div>
                <label for="answer1_14" class="lbl_pos">{{v1_14}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_14"  type="checkbox" value="2" class="chb_input" name="field2_14"><div class="chb_new"></div>
                <label for="answer2_14" class="lbl_pos">{{v2_14}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_14"  type="checkbox" value="3" class="chb_input" name="field3_14"><div class="chb_new"></div>
                <label for="answer3_14" class="lbl_pos">{{v3_14}}</label>
            </div>

            <div>
                {% if hidden_4_14 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_14"  type="checkbox" value="4" class="chb_input"  name="field4_14"><div class="chb_new"></div>
                <label for="answer4_14" class="lbl_pos">{{v4_14}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_14 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_14"  type="checkbox" value="5" class="chb_input" name="field5_14"><div class="chb_new"></div>
                <label for="answer5_14" class="lbl_pos">{{v5_14}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_14 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_14"  type="checkbox" value="6" class="chb_input" name="field6_14"><div class="chb_new"></div>
                <label for="answer6_14" class="lbl_pos">{{v6_14}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(14), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Пятнадцатый вопрос-->

    <div id="15" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 15</h5>
            <h5>{{q_15}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_15"  type="checkbox" value="1" class="chb_input" name="field1_15"><div class="chb_new"></div>
                <label for="answer1_15" class="lbl_pos">{{v1_15}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_15"  type="checkbox" value="2" class="chb_input" name="field2_15"><div class="chb_new"></div>
                <label for="answer2_15" class="lbl_pos">{{v2_15}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_15"  type="checkbox" value="3" class="chb_input" name="field3_15"><div class="chb_new"></div>
                <label for="answer3_15" class="lbl_pos">{{v3_15}}</label>
            </div>

            <div>
                {% if hidden_4_15 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_15"  type="checkbox" value="4" class="chb_input"  name="field4_15"><div class="chb_new"></div>
                <label for="answer4_15" class="lbl_pos">{{v4_15}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_15 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_15"  type="checkbox" value="5" class="chb_input" name="field5_15"><div class="chb_new"></div>
                <label for="answer5_15" class="lbl_pos">{{v5_15}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_15 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_15"  type="checkbox" value="6" class="chb_input" name="field6_15"><div class="chb_new"></div>
                <label for="answer6_15" class="lbl_pos">{{v6_15}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(15), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Шестнадцатый вопрос-->

    <div id="16" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 16</h5>
            <h5>{{q_16}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_16"  type="checkbox" value="1" class="chb_input" name="field1_16"><div class="chb_new"></div>
                <label for="answer1_16" class="lbl_pos">{{v1_16}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_16"  type="checkbox" value="2" class="chb_input" name="field2_16"><div class="chb_new"></div>
                <label for="answer2_16" class="lbl_pos">{{v2_16}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_16"  type="checkbox" value="3" class="chb_input" name="field3_16"><div class="chb_new"></div>
                <label for="answer3_16" class="lbl_pos">{{v3_16}}</label>
            </div>

            <div>
                {% if hidden_4_16 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_16"  type="checkbox" value="4" class="chb_input"  name="field4_16"><div class="chb_new"></div>
                <label for="answer4_16" class="lbl_pos">{{v4_16}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_16 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_16"  type="checkbox" value="5" class="chb_input" name="field5_16"><div class="chb_new"></div>
                <label for="answer5_16" class="lbl_pos">{{v5_16}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_16 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_16"  type="checkbox" value="6" class="chb_input" name="field6_16"><div class="chb_new"></div>
                <label for="answer6_16" class="lbl_pos">{{v6_16}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(16), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Семнадцатый вопрос-->

    <div id="17" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 17</h5>
            <h5>{{q_17}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_17"  type="checkbox" value="1" class="chb_input" name="field1_17"><div class="chb_new"></div>
                <label for="answer1_17" class="lbl_pos">{{v1_17}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_17"  type="checkbox" value="2" class="chb_input" name="field2_17"><div class="chb_new"></div>
                <label for="answer2_17" class="lbl_pos">{{v2_17}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_17"  type="checkbox" value="3" class="chb_input" name="field3_17"><div class="chb_new"></div>
                <label for="answer3_17" class="lbl_pos">{{v3_17}}</label>
            </div>

            <div>
                {% if hidden_4_17 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_17"  type="checkbox" value="4" class="chb_input"  name="field4_17"><div class="chb_new"></div>
                <label for="answer4_17" class="lbl_pos">{{v4_17}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_17 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_17"  type="checkbox" value="5" class="chb_input" name="field5_17"><div class="chb_new"></div>
                <label for="answer5_17" class="lbl_pos">{{v5_17}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_17 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_17"  type="checkbox" value="6" class="chb_input" name="field6_17"><div class="chb_new"></div>
                <label for="answer6_17" class="lbl_pos">{{v6_17}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(17), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Восемнадцатый вопрос-->

    <div id="18" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 18</h5>
            <h5>{{q_18}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_18"  type="checkbox" value="1" class="chb_input" name="field1_18"><div class="chb_new"></div>
                <label for="answer1_18" class="lbl_pos">{{v1_18}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_18"  type="checkbox" value="2" class="chb_input" name="field2_18"><div class="chb_new"></div>
                <label for="answer2_18" class="lbl_pos">{{v2_18}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_18"  type="checkbox" value="3" class="chb_input" name="field3_18"><div class="chb_new"></div>
                <label for="answer3_18" class="lbl_pos">{{v3_18}}</label>
            </div>

            <div>
                {% if hidden_4_18 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_18"  type="checkbox" value="4" class="chb_input"  name="field4_18"><div class="chb_new"></div>
                <label for="answer4_18" class="lbl_pos">{{v4_18}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_18 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_18"  type="checkbox" value="5" class="chb_input" name="field5_18"><div class="chb_new"></div>
                <label for="answer5_18" class="lbl_pos">{{v5_18}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_18 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_18"  type="checkbox" value="6" class="chb_input" name="field6_18"><div class="chb_new"></div>
                <label for="answer6_18" class="lbl_pos">{{v6_18}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(18), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Девятнадцатый вопрос-->

    <div id="19" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 19</h5>
            <h5>{{q_19}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_19"  type="checkbox" value="1" class="chb_input" name="field1_19"><div class="chb_new"></div>
                <label for="answer1_19" class="lbl_pos">{{v1_19}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_19"  type="checkbox" value="2" class="chb_input" name="field2_19"><div class="chb_new"></div>
                <label for="answer2_19" class="lbl_pos">{{v2_19}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_19"  type="checkbox" value="3" class="chb_input" name="field3_19"><div class="chb_new"></div>
                <label for="answer3_19" class="lbl_pos">{{v3_19}}</label>
            </div>

            <div>
                {% if hidden_4_19 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_19"  type="checkbox" value="4" class="chb_input"  name="field4_19"><div class="chb_new"></div>
                <label for="answer4_19" class="lbl_pos">{{v4_19}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_19 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_19"  type="checkbox" value="5" class="chb_input" name="field5_19"><div class="chb_new"></div>
                <label for="answer5_19" class="lbl_pos">{{v5_19}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_19 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_19"  type="checkbox" value="6" class="chb_input" name="field6_19"><div class="chb_new"></div>
                <label for="answer6_19" class="lbl_pos">{{v6_19}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(19), btnPaint()">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

<!--Двадцатый вопрос-->

    <div id="20" class="container" hidden="">
        <div class="container mb-4 stab_container_2">
            <h5>Вопрос № 20</h5>
            <h5>{{q_20}}</h5>
        </div>

        <div class="container stab_container">

           <div class="my_checkbox">
                <input id="answer1_20"  type="checkbox" value="1" class="chb_input" name="field1_20"><div class="chb_new"></div>
                <label for="answer1_20" class="lbl_pos">{{v1_20}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer2_20"  type="checkbox" value="2" class="chb_input" name="field2_20"><div class="chb_new"></div>
                <label for="answer2_20" class="lbl_pos">{{v2_20}}</label>
            </div>

            <div class="my_checkbox">
                <input id="answer3_20"  type="checkbox" value="3" class="chb_input" name="field3_20"><div class="chb_new"></div>
                <label for="answer3_20" class="lbl_pos">{{v3_20}}</label>
            </div>

            <div>
                {% if hidden_4_20 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer4_20"  type="checkbox" value="4" class="chb_input"  name="field4_20"><div class="chb_new"></div>
                <label for="answer4_20" class="lbl_pos">{{v4_20}}</label>
                </div>
                {% endif %}
            </div>

            <div>
                {% if hidden_5_20 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer5_20"  type="checkbox" value="5" class="chb_input" name="field5_20"><div class="chb_new"></div>
                <label for="answer5_20" class="lbl_pos">{{v5_20}}</label>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if hidden_6_20 %}
                {% else %}
                <div class="my_checkbox">
                <input id="answer6_20"  type="checkbox" value="6" class="chb_input" name="field6_20"><div class="chb_new"></div>
                <label for="answer6_20" class="lbl_pos">{{v6_20}}</label>
                </div>
                {% endif %}
            </div>

        </div>

         <div class="row mt-5">
             <div class="col-6">
                <div class="margin">
                    <button type="button" class="btn btn_paint_3" onclick="questionSwitch(20), btnPaint()" hidden="">Следующий вопрос</button>
                </div>
            </div>
        </div>

    </div>

</form>

<!--Ссылки на вопросы (кнопки)-->

<div class="container mt-3">
    <div class="row centring">
        <div id="btn1" onclick="questionSwitch2(1), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>1</span></div>
        <div id="btn2" onclick="questionSwitch2(2), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>2</span></div>
        <div id="btn3" onclick="questionSwitch2(3), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>3</span></div>
        <div id="btn4" onclick="questionSwitch2(4), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>4</span></div>
        <div id="btn5" onclick="questionSwitch2(5), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>5</span></div>
        <div id="btn6" onclick="questionSwitch2(6), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>6</span></div>
        <div id="btn7" onclick="questionSwitch2(7), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>7</span></div>
        <div id="btn8" onclick="questionSwitch2(8), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>8</span></div>
        <div id="btn9" onclick="questionSwitch2(9), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>9</span></div>
        <div id="btn10" onclick="questionSwitch2(10), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>10</span></div>
    </div>
    <div class="row centring">
        <div id="btn11" onclick="questionSwitch2(11), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>11</span></div>
        <div id="btn12" onclick="questionSwitch2(12), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>12</span></div>
        <div id="btn13" onclick="questionSwitch2(13), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>13</span></div>
        <div id="btn14" onclick="questionSwitch2(14), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>14</span></div>
        <div id="btn15" onclick="questionSwitch2(15), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>15</span></div>
        <div id="btn16" onclick="questionSwitch2(16), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>16</span></div>
        <div id="btn17" onclick="questionSwitch2(17), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>17</span></div>
        <div id="btn18" onclick="questionSwitch2(18), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>18</span></div>
        <div id="btn19" onclick="questionSwitch2(19), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>19</span></div>
        <div id="btn20" onclick="questionSwitch2(20), btnPaint()" class="col-1 mt-3 text-center btn_paint"><span>20</span></div>
    </div>
</div>

<footer class="hf_inside mt-3"></footer>

<!--Модальное окно начальное-->
<div class="modal fade" id="myModalExam" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalExamLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="myModalExamLabel">Внимание</h1>
          </div>
          <div class="modal-body">
              <div class="row">
                  <span>Экзаменационный билет состоит из 20 вопросов.</span>
                  <span>Необходимо выбрать один или несколько вариантов ответа.</span>
                  <span>Время ответа на билет ограничено 20 минутами.</span>
                  <span>Вы можете отвечать на вопросы в любом порядке.</span>
                  <span>Экзамен считается пройденым при наличии не более 2-ух ошибок.</span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="timer()">OK</button>
          </div>
        </div>
      </div>
</div>

<!--Модальное окно завершения-->
<div class="modal fade" id="myModalExamExit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalExamExitLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="myModalExamExitLabel">Внимание</h1>
          </div>
          <div class="modal-body">
              <div class="row">
                  <span>Вы не ответили на все вопросы.</span>
                  <span>Уверены, что хотите завершить?</span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="exit('my_form_exam')">Да</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="">Нет</button>
          </div>
        </div>
      </div>
</div>

<!--Модальное окно завершения 2-->
<div class="modal fade" id="myModalExamExit2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalExamExit2Label" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="myModalExamExit2Label">Внимание</h1>
          </div>
          <div class="modal-body">
              <div class="row">
                  <span>Уверены, что хотите завершить?</span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="exit('my_form_exam')">Да</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="">Нет</button>
          </div>
        </div>
      </div>
</div>

<!--Модальное окно завершения 2-->
<div class="modal fade" id="myModalTimeOver" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalTimeOverLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="myModalTimeOverLabel">Внимание</h1>
          </div>
          <div class="modal-body">
              <div class="row">
                  <span>Время вышло</span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="timeIsOver()">ОК</button>
          </div>
        </div>
      </div>
</div>

</body>

{% endblock %}