{% extends 'base_generic.html' %}

{% block content %}
<body>
<header class="hf_inside_2"></header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-uppercase color1 mb-5 mt-5">Билеты</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="1/" class="btn btn-lg text-uppercase btn-theme2">Билет № 1</a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="2/" class="btn btn-lg text-uppercase btn-theme2">Билет № 2</a>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="3/" class="btn btn-lg text-uppercase btn-theme2">Билет № 3</a>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="4/" class="btn btn-lg text-uppercase btn-theme2">Билет № 4</a>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="5/" class="btn btn-lg text-uppercase btn-theme2">Билет № 5</a>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="6/" class="btn btn-lg text-uppercase btn-theme2">Билет № 6</a>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="7/" class="btn btn-lg text-uppercase btn-theme2">Билет № 7</a>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="8/" class="btn btn-lg text-uppercase btn-theme2">Билет № 8</a>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="9/" class="btn btn-lg text-uppercase btn-theme2">Билет № 9</a>
            </div>
        </div>
    </div>
</div>

<div class="next-btn">
    <a class="btn btn-lg btn-main text-uppercase mt-5 mb-5" href="/">На главную</a>
</div>

<footer class="hf_inside_2"></footer>

</body>
{% endblock %}